
%br/
%p
  Living documentation for The University of Kent's Library technology roadmap.
  %br/
- if pages == []
  %p
    No content yet
    %br/
    Add a page by clicking New Page at the top right of this page
- else
  %h2 Context
  - pgs = Page.all.collect{|p| p.has_category?('Context') ? p : nil}.compact
  - if pgs != []
    %ul
      - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
        %li= link_to pg.title, pg
  -else
    No items yet

  %h2 Issue
  - pgs = Page.all.collect{|p| p.has_category?('Issue') ? p : nil}.compact
  - if pgs != []
    %ul
      - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
        %li= link_to pg.title, pg
  -else
    No items yet

  %h2 Competition
  - pgs = Page.all.collect{|p| p.has_category?('Competition') ? p : nil}.compact
  - if pgs != []
    %ul
      - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
        %li= link_to pg.title, pg
  -else
    No items yet

  %h2 Needs
  - pgs = Page.all.collect{|p| p.has_category?('Need') ? p : nil}.compact
  - if pgs != []
    %ul
      - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
        %li= link_to pg.title, pg
  -else
    No items yet
  %h2 Capabilities
  - pgs = Page.all.collect{|p| p.has_category?('Capability') ? p : nil}.compact
  - if pgs != []
    %ul
      - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
        %li= link_to pg.title, pg
  -else
    No items yet

