%img{src: 'http://localhost/Pictures/templeman.jpg', width: '900px'}
- # http://www.penoyreprasad.com/wp-content/uploads/2012/11/Projects-Higher-Education-University-of-Kent-Templeman-Library-West-Elevation-Penoyre-and-Prasad-803x536.jpg
%br/
%p
  Living documentation for The University of Kent's Library technology roadmap.
%br/
.container
  .content
    = render partial: 'home/home_tab_nav'

    #my-tab-content.tab-content

      #guide-tab.tab-pane.active
        %br/
        As part of its ongoing refinement of online library facilities, the
        University of Kent Templeman Library has been examining both the broad
        HE institutional library landscape, and University of Kent-specific drivers
        for change.
        %br/
        %br/
        The ongoing results of this work, undertaken in conjunction with library and
        educational consultants
        %a{href: 'http://www.kenchadconsulting.com/'}
          Ken Chad
        and
        %a{href: 'http//hedtek.com'}
          Mark van Harmelen,
        are documented here.
        %br/
        %br/
        This is a living archive whose contents are being co-operatively developed within the
        University.
        %br/
        %br/
        All pages that constitute this archive may be changed or commented on by members of the
        University.
        %br/
        %br/
        Commenting is a particularly easy way to get your opinion heard, and Library staff will
        change page content to reflect comments.


      #context-tab.tab-pane
        - pgs = Page.all.collect{|p| p.has_page_type?('Context') ? p : nil}.compact
        - if pgs != []
          %ul
            - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
              %li= link_to pg.title, pg
        -else
          No items yet

      #issue-tab.tab-pane
        - pgs = Page.all.collect{|p| p.has_page_type?('Issue') ? p : nil}.compact
        - if pgs != []
          %ul
            - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
              %li= link_to pg.title, pg
        -else
          No items yet

      #need-tab.tab-pane
        - pgs = Page.all.collect{|p| p.has_page_type?('Need') ? p : nil}.compact
        - if pgs != []
          %ul
            - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
              %li= link_to pg.title, pg
        -else
          No items yet

      #competition-tab.tab-pane
        - pgs = Page.all.collect{|p| p.has_page_type?('Competition') ? p : nil}.compact
        - if pgs != []
          %ul
            - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
              %li= link_to pg.title, pg
        -else
          No items yet

      #capability-tab.tab-pane
        - pgs = Page.all.collect{|p| p.has_page_type?('Capability') ? p : nil}.compact
        - if pgs != []
          %ul
            - pgs.sort{|p, q| p.title <=> q.title}.each do |pg|
              %li= link_to pg.title, pg
        -else
          No items yet

