.width-800px
  =image_tag 'templeman.jpg', width: '900'
  %br/
  %p
    Living documentation for The University of Kent's Library technology roadmap.
  %br/

  .container.width-800px
    .content.width-800px
      = render partial: 'home/home_tab_nav'

      #my-tab-content.tab-content.width-800px

        #introduction-tab.tab-pane.active
          %br/
          As part of its ongoing development of the University of Kent's online library facilities and its
          library technology roadmap, the
          Templeman Library has been examining the
          HE landscape together with Kent-specific drivers for change.
          %br/
          %br/
          The ongoing results of this work, undertaken in conjunction with library and
          educational consultants
          %a{href: 'http://www.kenchadconsulting.com/'}
            Ken Chad
          and
          %a{href: 'http://hedtek.com'}
            Mark van Harmelen,
          are documented here.
          %br/
          %br/
          This is a living archive whose contents are being developed co-operatively  within the
          University and by the consultants.

          %br/
          %br/
          Commenting on the developing contents is a particularly easy way to get your opinion heard.
          %br/
          %br/
          You do need to
          = link_to 'register', new_user_registration_path
          and then
          = link_to 'sign in', new_user_session_path
          to comment or change content.
          %br/
          %br/
          Alternately, you can
          = link_to 'sign in', new_user_session_path
          using an existing Twitter account.

        #theme-tab.tab-pane
          %br/
          The following are broad themes, guides and other cross-cutting information.
          %br/
          %br/
          - pgs = Page.select{|p| p.has_page_type?('Theme') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}

        #context-tab.tab-pane
          - pgs = Page.select{|p| p.has_page_type?('Context') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}

        #issue-tab.tab-pane
          - pgs = Page.select{|p| p.has_page_type?('Issue') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}

        #need-tab.tab-pane
          - pgs = Page.select{|p| p.has_page_type?('Need') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}

        #competition-tab.tab-pane
          %br/
          External competition in respect of library resources and function offer opportunities for change.
          %br/
          %br/
          For example, by co-opting the external competition to add to library resources and functionality.
          %br/
          %br/
          - pgs = Page.select{|p| p.has_page_type?('Competition') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}

        #capability-tab.tab-pane
          - pgs = Page.select{|p| p.has_page_type?('Capability') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}


        #action-tab.tab-pane
          %br
          Actions for the future, either broad-sweep or (to be) expressed in the library technology roadmap.
          %br/
          %br/
          - pgs = Page.select{|p| p.has_page_type?('Action') }
          = render 'home/ordered_pages', locals: {filtered_pages: pgs}

        #link-tab.tab-pane
          %br
          Pages tagged
          %ul
            %li
              %a{href: '/tags/to%20do'} to do
          %br/
          Prioritisation
          %ul
            %li
              %a{href: '/moscow/Must%20have'} Must have
            %li
              %a{href: '/moscow/Should%20have'} Should have
            %li
              %a{href: '/moscow/Could%20have'} Could have
            %li
              %a{href: '/moscow/Would%20%2F%20won%27t%20have'} Would / won\'t have

