= form_for(page) do |f|
  = f.hidden_field :lock_version

  %ul.red
    - if page.history.last
      - page.history.last.errors.full_messages.each do |msg|
        %li= msg
    - page.errors.full_messages.each do |msg|
      %li= msg

  Please edit to resolve the differences shown below:

  - if page.title != conflict.title
    %h3 Title differs
    Your version: #{conflict.title}
    .ddd= f.text_field :title
    %br/
  -else
    = f.hidden_field :title


  - if page.page_type != conflict.page_type
    %h3 Page type differs
    Your version: #{conflict.page_type}
    = f.select :page_type, page.ld_page_type.collect{|t| [t[0], t[0]] }
    %br/
  -else
    = f.hidden_field :page_type

  - if page.categories != conflict.categories
    %h3  Categories differ
    Your version: #{conflict.categories}
    .ddd= f.text_field :categories
  - else
    = f.hidden_field :categories


  - if page.tags != conflict.tags
    %h3  Tags differ
    Your version: #{conflict.tags}
    .ddd= f.text_field :tags
  - else
    = f.hidden_field :tags

  #TODO bad tech debt -> sort this asap
  - if page.has_category? 'UMCS Collection'

    = f.label :item_number
    = f.text_field :item_number

    = f.label :location
    = f.text_field :location

  - if page.content != conflict.content
    %h3  Content differs
    Your version:
    %br/
    #{conflict.content}
    %br/
    = f.text_area :content
  - else
    = f.hidden_field :content

  %br
  = f.submit class: 'btn btn-primary'


