= form_for(page) do |f|
  = f.hidden_field :lock_version

  %ul.red
    - if page.history.last
      - page.history.last.errors.full_messages.each do |msg|
        %li= msg
    - page.errors.full_messages.each do |msg|
      %li= msg

  Please edit to resolve the differences shown below.
  %br/
  %br/
  What you wanted to save appears in red. If you didn't want to save anything then you will see nothing in red.
  %br/
  %br/
  What is currently saved is shown in green and in the edit boxes,
  ready for your further changes.

  = render partial: 'pages/conflict',
    locals: {f: f, field: :title, current: conflict.title, desired: page.title}

  - if page.page_type != conflict.page_type
    %h3 Page type differs
    %br/
    .width-500px
      = (page.compare_versions conflict.page_type, page.page_type).html_safe
      = f.select :page_type, page.ld_page_type.collect{|t| [t[0], t[0]] }
    %br/
  -else
    = f.hidden_field :page_type


  = render partial: 'pages/conflict',
    locals: {f: f, field: :categories, current: conflict.categories, desired: page.categories}

  = render partial: 'pages/conflict',
    locals: {f: f, field: :tags, current: conflict.tags, desired: page.tags}


  - #TODO test this collection item number and location handling
  - if page.has_page_type? 'UMCS Collection'
    .width-500px
      = render partial: 'pages/conflict',
        locals: {f: f, field: :item_number, current: conflict.item_number, desired: page.item_number}
      = render partial: 'pages/conflict',
        locals: {f: f, field: :location, current: conflict.location, desired: page.location}

  - if page.content != conflict.content
    %h3  Content differs
    %br/
    .width-500px
      = (page.compare_versions conflict.content, page.content).html_safe
      %br/
      = f.text_area :content
  - else
    = f.hidden_field :content

  %br
  = f.submit class: 'btn btn-primary'


