#content-width

  .content-title
    = page.title
  .content-content
    = page.content_as_html(page)

  .content-footer.parent-div
    .content-t-and-c.float-left
      Tags
      .content-tags
        = page.tags_as_html.html_safe
      Categories
      .content-categories
        = page.categories_as_html.html_safe
      .div
        - if page.categories.include?('Collection item')
          Catalogue number: 101       Location: Shelf 16
    .content-edit-button.float-right
      = page.edit_button_as_html(current_user, "/pages/#{params[:id]}/edit")
  .clear

#comment-width
  = render partial: 'comments/comments_page_tab'