.search-results

  %a.summary-title{href: page_url(page)}
    = page.title

  .relative
    .fixed-height-box-for-truncated-page-text
      = page.content

  .history-tags-and-categories
    .tags-and-categories
      = render 'tags/tags', tags: page.history.last.tags_as_array
    .tags-and-categories
      = render partial: 'categories/categories', locals: {categories: page.history.last.categories_as_array}

  - if current_user.can_delete?(page)
    .float-right
      = link_to 'Remove page', page,
           :confirm => 'Are you sure you want to remove this page? This cannot be undone.',
           :method => :delete
%hr


