<li>
  <span time-and-user><%= page_state.created_at.to_s %> by <%= page_state.user.name %></span>
  <br/>
  <span bold><%= page_state.title %></span>
  <br/>
  <%= ContentHtmlGenerator.generate(page_state).html_safe %>
  <%= "Tags: #{page_state.tags}"  %>
  <hr/>
</li>