= form_for(page) do |f|
  %ul
    - if page.history.last
      - page.history.last.errors.full_messages.each do |msg|
        %li

  = f.label :title
  = f.text_field :title

  = f.label :categories
  = f.text_field :categories

  = f.label :content
  = f.text_area :content

  = f.label :tags
  = f.text_field :tags

  - if page.has_category? 'UMCS Collection'

    = f.label :item_number
    = f.text_field :item_number

    = f.label :location
    = f.text_field :location
  %br
  = f.submit class: 'btn btn-primary'
