= form_for(page) do |f|
  = f.hidden_field :lock_version

  %ul.red
    - if page.history.last
      - page.history.last.errors.full_messages.each do |msg|
        %li
          = msg
      - page.errors.full_messages.each do |msg|
        %li
          = msg
  .ccc
    = f.label :title
    .ddd
      = f.text_field :title

  = f.label :page_type
  = f.select :page_type, page.ld_page_type.collect{|t| [t[0], t[0]] }.sort{|a,b| a<=>b}

  %br/
  = f.label :priority
  .instruction.hint
    Must have (essential)
    %br/
    Should have (high priority, have if funding allows)
    %br/
    Could have (desirable but not necessary)
    %br/
    Would/wont (would like it, but wont have it in this iteration))

  = f.select :moscow, [['Not set yet', 'Not set yet'], ['Must have', 'Must have'], ['Should have', 'Should have'], ['Could have', 'Could have'], ['Would / won\'t have', 'Would / won\'t have']]

  .ccc
    - f.label :slug, "Slug (leave blank to generate a page slug automatically)"
    .ddd
      - f.text_field :slug

  = f.label :categories
  = f.text_field :categories

  %br/
  .parent-div.ccc
    .float-right= link_to("Show content editing help", '', class: "btn btn-primary", onclick: "help_dialog();")

    .float-left
      = f.label :content
      .eee
        = f.text_area :content
  .clear
  = f.label :tags
  = f.text_field :tags

  - if page.has_category? 'UMCS Collection'

    = f.label :item_number
    = f.text_field :item_number

    = f.label :location
    = f.text_field :location

  %br
  = f.submit class: 'btn btn-primary'

#dialog{title: "Formatting help", display: 'none'}
  %p Use a blank line for a new paragraph.
  %p Put links to wiki pages in text:
  %p &nbsp;&nbsp; [existing page name] to reference another page.
  %p &nbsp;&nbsp; [new page name] to to create a link to create a new page.
  %p Put links to other pages on the web in text:
  %p &nbsp;&nbsp; [url optional-display-text] to to create a link to create a new page.
  %p For images and YouTube videos the following should be on lines by themselves
  %p &nbsp;&nbsp; [url-for-image optional-width]
  %p &nbsp;&nbsp;[url-for-youtube-video optional-width]
  %p Titles, for successive levels start the line with # ## or ###
  %p List item starts with * with blank lines above and below list
  %p Quote starts with >
  %p &nbsp;&nbsp; replicate for successive quoted paragraphs
  %p
    Google markdown for more formatting or see its
    %a{href: 'http://daringfireball.net/projects/markdown/syntax'}
      documentation.

