- if current_user && current_user.can_delete?(page)
  .float-right.delete-page
    = link_to 'Remove page', page,
             :confirm => 'Are you sure you want to remove this page? This cannot be undone.',
             :method => :delete
.search-results
  %div.page-summary-width.page-summary-image-indent
    .page_summary_page_type  #{page.page_type}
    %a.summary-title{href: page_url(page)}
      = page.title
  .clear
  <br/>
  %div
  .parent-div.page-summary-width
    .float-left.width-150px.page-summary-image-indent
      - source =  ContentHtmlGenerator.page_image(page)
      - #TODO any edge conditions?
      - source = 'http://localhost/Pictures/no_image.png' unless source
      %img{src: source}
      <br/>
    .float-right.width-400px
      .try_in_rhs
        = ContentHtmlGenerator.generate_part(page).html_safe
      .clear
    .clear


  .history-tags-and-categories.page-summary-footer-indent_and_spacing.page-summary-width
    .tags-and-categories
      = render 'tags/tags', tags: page.history.last.tags_as_array
    .tags-and-categories
      = render partial: 'categories/categories', locals: {categories: page.history.last.categories_as_array}
  .clear
    .page-summary-width-plus
      %hr


