= form_for(page) do |f|
  = f.hidden_field :lock_version

  %ul.red
    - if page.history.last
      - page.history.last.errors.full_messages.each do |msg|
        %li
          = msg
      - page.errors.full_messages.each do |msg|
        %li
          = msg
  .ccc
    = f.label :title
    .ddd
      = f.text_field :title

  = f.label :page_type
  = f.select :page_type, page.ld_page_type.collect{|t| [t[0], t[0]] }.sort{|a,b| a<=>b}

  .ccc
    - f.label :slug, "Slug (leave blank to generate a page slug automatically)"
    .ddd
      - f.text_field :slug

  = f.label :categories
  = f.text_field :categories


  .ccc
    = f.label :content
    .eee
      = f.text_area :content

  = f.label :tags
  = f.text_field :tags

  - if page.has_category? 'UMCS Collection'

    = f.label :item_number
    = f.text_field :item_number

    = f.label :location
    = f.text_field :location

  %br
  = f.submit class: 'btn btn-primary'

