<h1>Edit <%= @page.title %></h1>

<%= form_tag(@update_url, method: "put") do %>
    <%= label_tag(:title) %>
    <%= text_field_tag(:title, @page.title) %>
    <%= label_tag(:content) %>
    <%= text_field_tag(:content, @page.content) %>

    <%= submit_tag("Save") %>
<% end %>