<div class="container">

  <h1><%= page.title %></h1>

  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#content_tab" data-toggle="tab">Page</a></li>
      <li><a href="#history_tab" data-toggle="tab">History</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="content_tab">
        <%= ContentHtmlGenerator.generate(page).html_safe %>
        <br>
        <%= link_to "Edit", edit_url, class: "btn btn-primary" if user_signed_in? %>
      </div>

      <div class="tab-pane" id="history_tab">
         <ul no-bullets>
           <% page.history.each do |ps| %>
             <li><span time-and-user><%= "#{ps.created_at} by #{User.find(ps.user_id).email.to_s}" %></span><br/>
               <span bold><%= "#{ps.title}" %></span><br/>
               <%= ContentHtmlGenerator.generate(ps).html_safe %>

             </li>
           <% end %>
         </ul>
      </div>
    </div>
  </div>


            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $('#tabs').tab();
                });
            </script>
</div>




