<div class="container">

  <div id="content">
    <%= raw page.tab_nav %>

    <h1 id="top"><%= page.title %></h1>

    <div id="my-tab-content" class="tab-content">
      <%= raw page.content_tab(user_signed_in?, edit_page_url) %>
      <%=  page.history_tab %>
      <%= raw page.last_change_tab %>
    </div>
  </div>
<br/>

  <h2>Comments</h2>
  <% page.comments.each do |comment| %>
      <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= comment.content %>
      </p>
  <% end %>

  <h2>Add a comment:</h2>
  <%= form_for([page, page.comments.build]) do |f| %>
      <p>
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter %>
      </p>
      <p>
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </p>
      <p>
        <%= f.submit %>
      </p>
  <% end %>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
  </script>
</div>




