.container
  .content
    = render partial: 'tab_nav'

    #my-tab-content.tab-content

      #content-tab.tab-pane.active

        #content-width

          .content-title
            = page.title
          .content-content
            = page.content_as_html(page)
          .div
            .content-tags.float-left
              = page.tags_as_html.join(', ').html_safe
            .content-edit-button.float-right
              = page.edit_button_as_html(current_user, "/pages/1/edit")

        .clear

        #comment-width
          %h2
            Comments
          #button-to-hide
            = link_to("Add a comment", 'x', class: "btn btn-primary", onclick: "hide_and_show();")
          #new-comment-form-to-show.hiddenx
            = page.new_comment_form_as_html(current_user)
          = page.comments_as_html

      #history-tab.tab-pane
        %ul{'no-bullets'.to_sym => true}
          = page.history_as_html

      #last-change-tab.tab-pane
        = page.last_change_as_html
