.container
  .content
    = render partial: 'layouts/tab_nav'

    #my-tab-content.tab-content

      #content-tab.tab-pane.active

        #content-width


          .content-title
            = page.title
          .content-content
            = page.content_as_html(page)
          .content-footer.parent-div
            .content-t-and-c.float-left
              Tags
              .content-tags
                = page.tags_as_html.html_safe
              Categories
              .content-categories
                = page.categories_as_html.html_safe

            .content-edit-button.float-right
              = page.edit_button_as_html(current_user, "/pages/#{params[:id]}/edit")

        .clear

        #comment-width

          .parent-div
            %h2#comment-title.float-left
              Comments
            #button-to-hide.float-right
              = link_to("Add a comment", 'x', class: "btn btn-primary", onclick: "hide_and_show();")
          #new-comment-form-to-show.hiddenx
            = page.new_comment_form_as_html(current_user)
          = page.comments_as_html

      #history-tab.tab-pane
        %ul{'no-bullets'.to_sym => true}
          = page.history_as_html

      #last-change-tab.tab-pane
        = page.last_change_as_html
