.container
  .content
    = render partial: 'layouts/tab_nav'

    #my-tab-content.tab-content

      #content-tab.tab-pane.active
        = render partial: 'pages/page_tab_content'

      #resource-tab.tab-pane
        = render partial: 'resources/page_resources'

      #history-tab.tab-pane
        = render partial: 'pages/page_history'

      #last-change-tab.tab-pane
        = page.last_change_as_html
