<div class="container">

  <h1><%= page.title %></h1>


  <div id="content">
    <%= raw page.tab_nav %>

    <div id="my-tab-content" class="tab-content">
      <%= raw page.content_tab(user_signed_in?, edit_page_url) %>
      <%= raw page.history_tab %>
    </div>
  </div>
<br/><hr/>
  <div>
    <%= raw Diffy::Diff.new(page.history[-2].content, page.content).to_s(:html) %>
  </div>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
  </script>
</div>




