.container
  .content
    = render partial: 'tab_nav'

    #my-tab-content.tab-content

      #content-tab.tab-pane.active
        .content-content
          = page.content_as_html(page)
        .div
          .content-tags.float-left
            = page.tags_as_html.join(', ').html_safe
          .float-right
            = page.edit_button_as_html(current_user, 'x')
        .clear
          %h2 Comments
          = page.new_comment_form_as_html(current_user)
          = page.comments_as_html

      #history-tab.tab-pane
        %ul{'no-bullets'.to_sym => true}
          = page.history_as_html   #pluralised

      #last-change-tab.tab-pane
        %ul{'no-bullets'.to_sym => true}
          = page.last_change_as_html
