= form_for(resource) do |f|
  %ul.red
    - resource.errors.full_messages.each do |msg|
      %li
        = msg

  - if act == :create
    %div
      .notice-para
        A resource is typically an image (but may be any document or file).
      .notice-para
        A resource will typically be added to a page
        (that may represent a collection item or a person, or that may simply serve to supply information).
        Resources attached to a page are displayed in the page's resources' tab.
      .notice-para
        Our terms of use identify you as responsible for copyright adherence for
        any resource that you create.
      .notice-para
        %span.bold
          Linking to an existing image or document elsewhere in the internet is
          entirely safe.
        You can't break copyright by linking to something
        elsewhere on the Internet.
      .notice-para
        If instead of linking you are uploading a file, please make sure it is sharable
        according to its copyright and/or licence.
  - else
    - source = resource.file
    - source = resource.url if resource.url
    - #TODO validate on presence of url or filewidth: 500px; margin-bottom: 0.6em;
    %br
    %img.width-600px{src: source}
    .instruction.change-note
      = "This resource asset above may ony be changed by this resource's creator&nbsp;(#{resource.user.name}) or by an administrator.".html_safe


  .width-500px
    = f.label :title
    = f.text_field :title


    = f.label :description
    = f.text_area :description

  - if act == :create
    .instruction
      Either choose a file on your local computer and add copyright information,
      or supply the URL of a file elsewhere on the internet
      %br

    .margin-left-20px.width-492px
      File to upload (from your computer)
      %br
      = f.text_field :file
      %br
      File to link to (URL beginning with http)
      %br
      = f.text_field :url
    %br


  .width-550px
    = f.label 'Optionally add the resource to one or more pages (you can also do this later if you want to)'
  .scrolling-div
    =  render partial: 'resources/resource_check_boxes',
                               locals: {pages_for_partial: resource.pages, f: f}
  %br
  = #xxx
  = f.submit class: 'btn btn-primary'