= form_for(resource) do |f|

  = f.label :title
  = f.text_field :title


  = f.label :description
  = f.text_area :description

  = f.label :file
  = f.text_field :file

  = f.label :pages
  = f.collection_select :resource_usages, Page.all.sort{|p,q|p.title<=>q.title}, :id, :title,
                                              {selected: resource.pages.map(&:id) },{:multiple => true}
  %br
  = f.submit class: 'btn btn-primary'
