- page_arr = []
- Page.all.sort{|a,b|a.title<=>b.title}.each {|p| page_arr.push [p.title, p.id]}

= form_for(resource) do |f|

  = f.label :title
  = f.text_field :title


  = f.label :description
  = f.text_area :description

  = f.label :file
  = f.text_field :file

  = f.label :pages
  = f.collection_select :resource_usages, Page.all.sort, :id, :title, :prompt => false
  %br
  = f.submit class: 'btn btn-primary'
