= form_for(resource) do |f|
  %ul.red
    - resource.errors.full_messages.each do |msg|
      %li
        = msg

  %div{style: 'width: 500px; margin-bottom: 0.6em;'}
    Our terms of use identify you as responsible for copyright adherence for
    any resource that you create.
  %div{style: 'width: 500px; margin-bottom: 0.6em;'}
    Linking to an existing image or document elsewhere in the internet is
    entirely safe: You can't break copyright by linking to something
    elsewhere on the Internet.
  %div{style: 'width: 500px; margin-bottom: 0.6em;'}
    If instead of linking you are uploading a file, please make sure it is sharable
    according to its copyright and/or licence.

  = f.label :title
  = f.text_field :title


  = f.label :description
  = f.text_area :description

  = f.label :file
  = f.text_field :file

  %br
  Resource URL to link to
  %br
  = f.text_field :url

  = f.label :user
  = f.collection_select :user_id, User.all.sort{|p,q|p.name<=>q.name}, :id, :name, options: {selected: resource.user}

  = f.label 'Pages resource is a resource for'
  %br
    .scrolling-div
      =  render partial: 'resources/resource_check_boxes',
                                 locals: {pages_for_partial: resource.pages, f: f}
  %br
  = #xxx
  = f.submit class: 'btn btn-primary'