.container
  .content
    .std-width
      .content-title
        = resource.title

      - get_from = resource.file
      - get_from = resource.url if resource.url
      %a{href: resource.file}
        %img{src: get_from}
      %br
      %br
      %br
      %p
        = resource.description
      %br
      .content-footer.parent-div
        .content-t-and-c.float-left
          - if resource.pages != nil && resource.pages != []
            Resource belongs to
            %div
              - resource.pages.all.each do |r|
                %a{href: page_url(r.slug)}
                  = r.title
          - else
            This is not a resource for any pages yet, edit to associate with pages
          %div{style: 'color: #bbb'}
            = "Resource created by #{resource.user.name}"
        .content-edit-button.float-right
          - if current_user
            = link_to("Edit resource", "/resources/#{params[:id]}/edit", class: "btn btn-primary")
