.container
  .content
    .std-width
      .page-title
        = resource.title
      %a{href: resource.file}
        %img{src: resource.source}
      %br
      %br
      %br
      %p
        = resource.description
      %br
      .content-footer.parent-div
        .content-t-and-c.float-left
          - if resource.pages != nil && resource.pages != []
            Resource belongs to
            %div
              - started = false
              - resource.pages.all.each do |r|
                = ', ' if started
                - started = true
                %a{href: page_url(r.slug)} #{r.title}
          - else
            This is not a resource for any pages yet, edit to associate with pages
          .color-bbb
            = "Resource created by #{resource.user.name}"
        .content-edit-button.float-right
          - if current_user
            = link_to("Edit resource", "/resources/#{params[:id]}/edit", class: "btn btn-primary")
