.container
  .content
    .std-width
      .content-title
        = resource.title
      %p
        = resource.description
      %br
      %a{href: resource.file}
        %img{src: resource.file}
      %p


      .content-footer.parent-div
        .content-t-and-c.float-left
          Resource belongs to
          %div
            - resource.pages.all.each do |r|
              %a{href: page_url(r.slug)}
                = r.title
                .br

        .content-edit-button.float-right
          - if current_user
            = link_to("Edit resource", "/resources/#{params[:id]}/edit", class: "btn btn-primary")
