.header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      .parent-div
        #logo.nav.float-left
          = link_to           'UniKent Library Technology', root_path, id: 'logo'

        #header-nav.nav.float-right
          %ul.nav
            %li= link_to     'Pages',         pages_path
            %li= link_to     'Resources',     resources_path

            - if current_user
              %li= link_to 'New Page', new_page_path, :id => 'add_page_link'
              %li= link_to 'New Resource', new_resource_path, :id => 'add_resource_link'
              %li= link_to 'Profile', edit_user_registration_path
              %li
                - if current_user.admin?
                  .red.absolute.admin-position
                    Admin
              %li= link_to 'Sign out',       destroy_user_session_path,  :method => :delete
            - else
              %li= link_to 'Register',      new_user_registration_path
              %li= link_to 'Sign in',        new_user_session_path
