<%= form_for(page) do |f| %>
    <ul>
      <% if page.history.last %>
      <% page.history.last.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
        <% end %>
       <% end %>
    </ul>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.label :tags %>
    <%= f.text_field :tags, value: page.raw_tags %>
    <br/>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>