<!DOCTYPE HTML>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title><%= content_for?(:title) ? yield(:title) : 'UKLT' %></title>
  <meta name='description' content="<%= content_for?(:description) ? yield(:description) : 'Virtual Museum' %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <link rel="icon" type="image/png" href="<%= image_path ENV['FAVICON'] %>">
</head>
<body>
<%# application layout styled for Twitter Bootstrap 2.3 %>
<header>
  <%= render 'layouts/header' %>
</header>
<main role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
</main>
</body>
</html>
